@* NewShipper.cs *@

@using Microsoft.AspNetCore.Mvc.Rendering
@model LoadBrokerageApp.Controllers.NewShipperViewModel

<section class="new-shipper-page">
    <div>
        <form asp-action="Create" asp-controller="Shipper" method="post">
            <h3>New Shipper Sign-Up</h3>

            <div class="form-group">
                <label asp-for="Entity.Shipper">Shipper Name: </label>
                <input asp-for="Entity.Shipper" id="Shipper" class="form-control" />
            </div>

             <div class="form-group">
                <label asp-for="Entity.ShipperAddressLine1">Address: </label>
                <input asp-for="Entity.ShipperAddressLine1" id="ShipperAddressLine1" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Entity.ShipperAddressLine2">Suite / Office / Building: </label>
                <input asp-for="Entity.ShipperAddressLine2" id="ShipperAddressLine2" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Entity.ShipperCity">City: </label>
                <input asp-for="Entity.ShipperCity" id="ShipperCity" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Entity.ShipperState">State: </label>
                <select type="" id="ShipperState" class="form-control" asp-for="Entity.ShipperState" asp-items="@Model.AvailableStates">
                    <option value="">-- Select --</option>
                </select>

            <div class="form-group">
                <label asp-for="Entity.ShipperPostalCode">Zip Code: </label>
                <input asp-for="Entity.ShipperPostalCode" id="ShipperPostalCode" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Entity.ShipperPhone">Phone Number: </label>
                <input asp-for="Entity.ShipperPhone" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Entity.ShipperContactPerson">Contact Person: </label>
                <input asp-for="Entity.ShipperContactPerson" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Entity.ShipperContactPersonPhone">Contact Phone Number: </label>
                <input asp-for="Entity.ShipperContactPersonPhone" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Entity.ShipperContactPersonEmail">Contact Email: </label>
                <input asp-for="Entity.ShipperContactPersonEmail" class="form-control" />
            </div>

            <div class="form-group submit-container">
                <input type="submit" value="Submit" class="btn form-submit-btn" />
            </div>
            </div>
        </form>
    </div>
</section>