@* NewShipper.cs *@

@using Microsoft.AspNetCore.Mvc.Rendering
@model LoadBrokerageApp.Controllers.NewShipperViewModel

<section class="new-shipper-page">
    <div>
        <form asp-action="NewShipper">
            <h3>New Shipper Sign-Up</h3>

            <div class="form-group">
                <label asp-for="Shipper.Shipper">Shipper Name: </label>
                <input id="Shipper" class="form-control" />
            </div>

             <div class="form-group">
                <label asp-for="Shipper.ShipperAddressLine1">Address: </label>
                <input id="ShipperAddressLine1" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Shipper.ShipperAddressLine2">Suite / Office / Building: </label>
                <input id="ShipperAddressLine2" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Shipper.ShipperCity">City: </label>
                <input id="ShipperCity" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Shipper.ShipperState">State: </label>
                <select type="" id="ShipperState" class="form-control" asp-for="Shipper.ShipperState" asp-items="@Model.AvailableStates">
                    <option value="">-- Select --</option>
                </select>

            <div class="form-group">
                <label asp-for="Shipper.ShipperPostalCode">Zip Code: </label>
                <input asp-form="Shipper.ShipperPostalCode" id="ShipperPostalCode" class="form-control" />
            </div>

            </div>
        </form>
    </div>
</section>