@model LoadBrokerageApp.Models.Shippers

<section class="new-shipper-page">
    <div>
        <form asp-action="NewShipper">
            <h3>New Shipper Sign-Up</h3>

            <div class="form-group">
                <label asp-for="Shipper">Shipper Name: </label>
                <input id="Shipper" />
            </div>
        </form>
    </div>
</section>