@using System.Linq;
@model LoadBrokerageApp.Models.Shippers

<section class="new-shipper-page">
    <div>
        <form asp-action="NewShipper">
            <h3>New Shipper Sign-Up</h3>

            <div class="form-group">
                <label asp-for="Shipper">Shipper Name: </label>
                <input id="Shipper" class="form-control" />
            </div>

             <div class="form-group">
                <label asp-for="ShipperAddressLine1">Address: </label>
                <input id="ShipperAddressLine1" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="ShipperAddressLine2">Suite / Office / Building: </label>
                <input id="ShipperAddressLine2" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="ShipperCity">City: </label>
                <input id="ShipperCity" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="ShipperState">State: </label>
                <select type="" id="ShipperState" class="form-control">
                    @Select
                </select>
            </div>
        </form>
    </div>
</section>